<aside>
	<ul>
		<li{% if page.id == 'doc-config' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}docs/doc-config.html">配置</a>
		</li>
		<li{% if page.id == 'doc-method' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}docs/doc-method.html">方法</a>
		</li>
		<li{% if page.id == 'doc-event' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}docs/doc-event.html">事件</a>
		</li>
		<li{% if page.id == 'doc-button' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}docs/doc-button.html">Button</a>
		</li>
	</ul>
</aside>


