<aside>
	<ul>
		<li{% if page.id == 'tour-usage' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}tours/tour-usage.html">使用方法</a>
		</li>
		<li{% if page.id == 'tour-dev-env' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}tours/tour-dev-env.html">搭建环境</a>
		</li>
		<li{% if page.id == 'tour-plugin' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}tours/tour-plugin.html">编写扩展</a>
		</li>
		<li{% if page.id == 'tour-button' %} class="active"{% endif %}>
			<i class="icon simditor-icon simditor-icon-caret-right"></i>
			<a href="{{ page.root }}tours/tour-button.html">编写按钮</a>
		</li>
	</ul>
</aside>

