.simditor {
  overflow: hidden;
}
.simditor .simditor-body {
  min-height: 600px;
  outline: none;
  cursor: text;
}
.simditor .simditor-paste-area {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  right: 9999px;
  bottom: 5px;
}
