@charset "UTF-8";

@font-face {
  font-family: 'Simditor';
  src: font-url('simditor/fonts/simditor.eot');
  src: font-url('simditor/fonts/simditor.eot?#iefix') format("embedded-opentype"), font-url('simditor/fonts/simditor.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@import 'fonticon';
@import 'editor';

