@charset "UTF-8";

@font-face {
  font-family: 'Simditor';
  src: url('../fonts/simditor.eot');
  src: url('../fonts/simditor.eot?#iefix') format('embedded-opentype'),url('../fonts/simditor.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'fonticon';
@import 'editor';

