@charset "UTF-8";

@font-face {
  font-family: 'Simditor';
  src: url("<%= font_path('simditor.eot') %>");
  src: url("<%= font_path('simditor.eot') %>?#iefix") format("embedded-opentype"), url("<%= font_path('simditor.woff') %>") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import 'fonticon';
@import 'editor';


